@mixin container($w: 90%, $ma: 50em) {
  // 700px at 1em = 14px
  width: $w;
  max-width: $ma;
  margin: 0 auto;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// mq at 700px
@mixin mq($min-width: 50em) {
  @media (min-width: $min-width) {
    @content;
  }
}
