.about-me {
  @include container;
  @include clearfix;
  margin: 5em auto;
}

.about-img {
  max-height: 25em;

  @media (min-width: 40em) {
    float: left;
    margin-right: 1em;
  }
}

.about-title {
  margin-bottom: 0.25em; // smaller space before subtitle
}

.about-subtitle {
  margin: 0.5em 0; // was t0 b1em
}

@supports (display: grid) {
  .about-me {
    display: grid;
    grid-template-columns:
      [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr)
      [img-end] 2fr [port-end];
    grid-column-gap: 0.5em;
  }

  .about-img {
    grid-column: port / img; // 50%
    grid-row: 1 / 2; // setting up row to be the same as title's row to make them overlap
    /* 
    If a grid item is positioned into a row that is not explicitly sized by grid-template-rows, 
    implicit grid tracks are created to hold it. 
    This can happen either by explicitly positioning into a row that is out of range, 
    or by the auto-placement algorithm creating additional rows.    
    https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-rows
    */
    @include mq {
      grid-row: 1 / 4; // implicitly set three rows and take all of them
    }
  }

  .about-title {
    grid-column: name / port;
    grid-row: 1 / 2; // place title in the first row;
    align-self: end; // put title to the bottom
  }

  .about-subtitle,
  .about-text {
    // automatically takes entire columns and different row (when row is not specified)
    grid-column: port / port;

    @include mq {
      grid-column: image-end / port-end;
    }
  }

  .about-subtitle {
    grid-row: 2 / 3; // place subtitle in 2nd row
  }

  .about-text {
    grid-row: 3/ 4; // place text in last row (3rd)
  }
}
