.contact {
  @include container;
  padding: 5em 0;

  h1 {
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;

  @supports (display: grid) {
    // arrange input controls differently on wider screen
    @include mq {
      display: grid;
      grid-template-areas:
        "name     email"
        "message message"
        "   .    btn";
      .name {
        grid-area: name;
      }
      .email {
        grid-area: email;
      }
      .message {
        grid-area: message;
        textarea {
          height: 10em;
        }
      }
      .btn {
        grid-area: btn;
      }
      grid-column-gap: 1em;
    }
  }
}

label {
  margin-top: 1em;
  color: $dark-gray;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.75em;
  border: 1px solid $light-gray;
  border-radius: 2px;
  background: lighten($light-gray, 7%);
  font-size: 1.2rem;
  resize: vertical; // prevent horizontal resize
}

.btn {
  margin-top: 1em;
  width: auto; // auto: content's width
  margin-left: auto; // By default, flex-item stretches to take up the whole cross-axis space
  background: $accent;
  @include sans-serif($fz: 2rem, $c: $white);
  padding: 0.5em 1.5em;
  border: none;
  display: inline-block;
}
