footer {
  background: $dark-blue;
  padding: 5em 0 4em;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.social-icons {
  @include container($ma: 15em); // 210px
  display: flex;
  justify-content: space-between;
  margin: 1.75em auto 4em; // auto for max-width
}

.social-icon {
  width: 25%;
  height: 25%;
}

.copyright {
  &::before {
    content: "";
    display: block;
    height: 1px;
    background: rgba($white, 0.1);
    width: 25%;
    margin: 4em auto;
  }
}
